<div class="container" fxFlex="1 1 100%" fxFlex.gt-xs="1 1 75%" fxFlex.gt-sm="1 1 100%" fxFlex.gt-md="1 1 85%"
  fxFlex.gt-lg="1 1 60%" fxLayout="column" fxLayoutGap="2rem">

  <div class="row" fxLayout="column">
    <img src="assets/images/vloga-je-bila-uspesno-oddana.svg" alt="Vloga je bila uspešno oddana" srcset="">
  </div>

  <div class="row">
    <h1 class="has-text-base has-font-weight-semibold">Vloga uspešno oddana</h1>
    <h3 class="mat-subheading-2 has-text-secondary">Vaša vloga je bila oddana v preverjanje.<br>
      Po pregledu Vas bodo naši uslužbenci o rezultatih obvestili preko elektronske pošte,
      ki je navedena v vašem uporabniškem profilu.</h3>
  </div>

  <div class="row">
    <button class="has-width-100" mat-flat-button color="primary">Nova oddaja</button>
  </div>

  <div class="row separator">
    <span class="has-text-secondary">ALI</span>
  </div>

  <div class="row">
    <button class="has-width-100" mat-stroked-button color="primary">Prijavite se kot administrator</button>
  </div>

</div>