.has-background-image {
  background-image: url("/assets/images/mojedelo-spltena-aplikacija-za-oddajo-in-pregled-vlog-ozdaje.jpg");
  background-position: right;
  background-size: cover;
  filter: grayscale(20%);
}

.content {
  height: 100%;
  overflow: auto;
  justify-content: center;
  scrollbar-width: thin;
}