.has-background-image {
  background-color: gray;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.content {
  height: 100%;
  overflow: auto;
  justify-content: center;
  scrollbar-width: thin;
}