$mojedelo-blue: (
  50 : #e4e7e9,
  100 : #bbc3c9,
  200 : #8d9ba5,
  300 : #5f7380,
  400 : #3d5565,
  500 : #1b374a,
  600 : #183143,
  700 : #142a3a,
  800 : #102332,
  900 : #081622,
  A100 : #60abff,
  A200 : #2d90ff,
  A400 : #0076f9,
  A700 : #006ae0,
  contrast: (
    50 : #000000,
    100 : #030303,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mojedelo-orange: (
  50 : #fdf2e9,
  100 : #faddc7,
  200 : #f7c7a2,
  300 : #f3b17c,
  400 : #f1a060,
  500 : #ee8f44,
  600 : #ec873e,
  700 : #e97c35,
  800 : #e7722d,
  900 : #e2601f,
  A100 : #ffffff,
  A200 : #ffede5,
  A400 : #ffcab3,
  A700 : #ffb899,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

@function mojedelo-mat-light-theme-foreground($color) {
  @return (
    base:              $color,
    divider:           rgba($color, 0.18),
    dividers:          rgba($color, 0.18),
    disabled:          rgba($color, 0.38),
    disabled-button:   rgba($color, 0.38),
    disabled-text:     rgba($color, 0.38),
    hint-text:         rgba($color, 0.38),
    secondary-text:    rgba($color, 0.54),
    icon:              rgba($color, 0.54),
    icons:             rgba($color, 0.54),
    text:              rgba($color, 0.87),
    slider-off:        rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38),
    slider-min:        rgba($color, 0.38)
  );
};