tr.detail-row {
  height: 0;
}

tr.submission-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.submission-row:not(.expanded-row):active {
  background: #efefef;
}

.submission-row td {
  border-bottom-width: 0;
}

.submission-detail {
  overflow: hidden;
  display: flex;
}

.submission-description {
  padding: 1rem 0;
}

.container {
  margin: 0 auto;
}

.table-container {
  overflow: auto;
}

table, mat-paginator {
  min-width: 500px;
}